recursive-exclude .github *
recursive-exclude packaging *
recursive-exclude scripts *
recursive-exclude docs *
recursive-exclude website *
exclude *
include README.md
include LICENSE
include pyproject.toml
include scenedetect.cfg
include packaging/package-info.rst
recursive-include docs *
