recursive-exclude .github *
recursive-exclude dist *
recursive-exclude manual *
exclude manual/requirements.txt
exclude *
include README.md
include LICENSE
include pyproject.toml
include setup.cfg
include scenedetect.cfg
