# PySceneDetect Requirements for Windows Build
av==14.2.0
click==8.1.8
opencv-python-headless==4.11.0.86
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.3
platformdirs==4.3.6
tqdm==4.67.1

# Build-only and test-only requirements.
pyinstaller
pytest
