# PySceneDetect Requirements for Windows Build
av==17.0.1
click==8.2.1
imageio-ffmpeg==0.6.0
moviepy==2.2.1
opencv-python-headless==4.13.0.92
numpy==2.4.4
platformdirs==4.9.6
tqdm==4.67.3

# Build-only and test-only requirements.
pyinstaller
pytest
